<div class="widget">
    <div class="widget-title"><%= __('blogroll') %></div>
    <ul>
        <% for (var i in theme.links) { %>
        <li><a class="links-list-link" href="<%= theme.links[i].url %>" title="<%= theme.links[i].title %>" target='_blank'><%= theme.links[i].title %></a></li>
        <% } %>
    </ul>
</div>