<div class="widget">
    <div class="comments-title"><%= __('recent_comments') %></div>
    <% if(theme.duoshuo) { %>
    <div id="ds-recent-comments" class="ds-recent-comments" data-num-items='5' data-show-avatars='0' data-show-time='1' data-show-admin='0' data-excerpt-length='32' data-show-title='1'></div>
    <% } %>
    <% if(theme.disqus) { %>
    <script type="text/javascript" src="//#{theme.disqus}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&avatar_size=32&excerpt_length=20&hide_mods=1"></script>
    <% } %>
</div>