<div class="widget">
    <% if(theme.google_search){ %>
    <form action='//www.google.com/search' method='get' accept-charset='utf-8' class='search-form' target='_blank'>
        <input type='text' name='q' maxlength='20' class='search-form-input' placeholder="<%= __('search') %>" autocomplete="off">
        <input type='hidden' name='sitesearch' value="<%- config.url.replace(/^https?:\/\//, '') %>">
    </form>
    <% } %>
    <% if(theme.baidu_search){ %>
    <form action="//www.baidu.com/s" method="get" accept-charset="utf-8" class="search-form" target="_blank">
        <input type="search" name="wd" maxlength="20" class="search-form-input" placeholder="<%= __('search') %>" autocomplete="off">
        <input type="hidden" name="si" value="<%- config.url.replace(/^https?:\/\//, '') %>">
        <input type="hidden" name="tn" value="bds">
        <input type="hidden" name="cl" value="3">
        <input type="hidden" name="ct" value="2097152">
        <input type="hidden" name="s" value="on">
    </form>
    <% } %>
    <% if(theme.swiftype){ %>
    <input class="st-default-search-input" type='text' placeholder="<%= __('search') %>">
    <% } %>
    <% if(theme.tinysou){ %>
    <form>
        <input id="ts-search-input" class='ts-search-input' type='text' placeholder="<%= __('search') %>">
    </form>
    <% } %>
</div>