<div class="widget">
    <div class="widget-title"><%= __('tagcloud') %></div>
    <div class="tagcloud">
        <%- tagcloud({min_font: 15, max_font: 15, amount: 100, orderby: 'count'}) %>
    </div>
</div>