<%- partial('_partial/head') %>
<body>
<div id="container">
    <div class="left-col">
        <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
        <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
        <div class="body-wrap"><%- body %></div>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
</div>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>