<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
         itemprop="blogPost">
    <% if(post.noDate != "true"){ %>
    <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <% } %>
    <div class="article-inner">
        <% if (theme.fancybox){ %>
        <input type="hidden" class="isFancy"/>
        <% } %>
        <% if (post.link || post.title){ %>
        <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% if (!index){ %>
        <div class="article-info article-info-post">
            <%- partial('post/tag') %>
            <%- partial('post/category') %>
            <div class="clearfix"></div>
        </div>
        <% } %>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% } else { if (post.toc !== false) {%>
            <%- partial('post/toc') %>
            <% } %>
            <%- post.content %>
            <% } %>
        </div>
        <% if (index){ %>
        <div class="article-info article-info-index">
            <% if(post.top){ %>
            <div class="article-pop-out tagcloud">
                <a class="">置顶</a>
            </div>
            <% } %>
            <%- partial('post/tag') %>
            <%- partial('post/category') %>
            <% if (post.excerpt && index){ %>
            <p class="article-more-link">
                <a <% if (!theme.excerpt_link){ %>class="hidden"
                        <% } %>
                   href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %> >></a>
            </p>
            <% } %>
            <div class="clearfix"></div>
        </div>
        <% } %>
    </div>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index && theme.share){ %>
<%- partial('post/share') %>
<% } %>
<% if (!index && theme.duoshuo && post.comments){ %>
<%- partial('post/duoshuo', {
    key: post.slug,
    title: post.title,
    url: config.url + url_for(post.path)
}) %>
<% } %>
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '<%=config.disqus_shortname%>'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
</section>
<% } %>