<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <div class="footer-left">
                &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                <a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a
                        href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
            </div>
        </div>
    </div>
</footer>