<nav id="mobile-nav">
    <div class="overlay">
        <div class="slider-trigger"></div>
        <h1 class="header-author js-mobile-header hide"><%= theme.author %></h1>
    </div>
    <div class="intrude-less">
        <header id="header" class="inner">
            <div class="profilepic">
                <img lazy-src="<%= theme.avatar %>" class="js-avatar" alt="沉潜飞动 www.howardliu.cn">
            </div>
            <hgroup>
                <h1 class="header-author"><%= theme.author %></h1>
            </hgroup>
            <% if (theme.subtitle){ %>
            <p class="header-subtitle"><%= theme.subtitle %></p>
            <% } %>
            <nav class="header-menu">
                <ul>
                    <% for (var i in theme.menu){ %>
                    <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                    <% } %>
                    <div class="clearfix"></div>
                </ul>
            </nav>
            <nav class="header-nav">
                <div class="social">
                    <% for (var i in theme.subnav){ %>
                    <a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>"
                       title="<%= i %>"><%= i %></a>
                    <% } %>
                </div>
            </nav>
        </header>
    </div>
</nav>
