/* duoshuo style*/
#ds-thread #ds-reset {
  color: #555;
}

#ds-thread #ds-reset .ds-replybox {
  margin-bottom: 30px;
}

#ds-thread #ds-reset .ds-replybox .ds-avatar, #ds-reset .ds-avatar img {
  box-shadow: none;
}

#ds-thread #ds-reset .ds-textarea-wrapper {
  border-color: #c7d4e1;
  background: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea {
  height: 60px;
}

#ds-reset .ds-rounded-top {
  border-radius: 0;
}

#ds-thread #ds-reset .ds-post-toolbar {
  box-sizing: border-box;
  border: 1px solid #c7d4e1;
  background: #fafafa;
}

#ds-thread #ds-reset .ds-post-options {
  height: 40px;
  border: none;
  background: none;
}

#ds-thread #ds-reset .ds-toolbar-buttons {
  top: 11px;
}

#ds-thread #ds-reset .ds-sync {
  top: 5px;
}

#ds-thread #ds-reset .ds-post-button {
  top: 4px;
  right: 5px;
  width: 90px;
  height: 30px;
  border: 1px solid #c5ced7;
  border-radius: 3px;
  background-image: linear-gradient(#fbfbfc, #f5f7f9);
  color: #60676d;
}

#ds-thread #ds-reset .ds-post-button:hover {
  background-position: 0 -30px;
  color: #60676d;
}

#ds-thread #ds-reset .ds-comments-info {
  padding: 10px 0;
}

#ds-thread #ds-reset .ds-sort {
  display: none;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
  border: none;
  background: #fafafa;
  color: #60676d;

  &:hover {
    background-color: #e9f0f7;
    color: #60676d;
  }
}

#ds-thread #ds-reset li.ds-tab a {
  border-radius: 2px;
  padding: 5px;
}

#ds-thread #ds-reset .ds-login-buttons p {
  color: #999;
  line-height: 36px;
}

#ds-thread #ds-reset .ds-login-buttons .ds-service-list li {
  height: 28px;
}

#ds-thread #ds-reset .ds-service-list a {
  background: none;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;

  &:hover {
    color: #fff;
    background: #666;
  }
}

#ds-thread #ds-reset .ds-service-list .ds-weibo {
  color: #fc9b00;
  border-color: #fc9b00;

  &:hover {
    background: #fc9b00;
  }
}

#ds-thread #ds-reset .ds-service-list .ds-qq {
  color: #60a3ec;
  border-color: #60a3ec;

  &:hover {
    background: #60a3ec;
  }
}

#ds-thread #ds-reset .ds-service-list .ds-renren {
  color: #2e7ac4;
  border-color: #2e7ac4;

  &:hover {
    background: #2e7ac4;
  }
}

#ds-thread #ds-reset .ds-service-list .ds-douban {
  color: #37994c;
  border-color: #37994c;

  &:hover {
    background: #37994c;
  }
}

#ds-thread #ds-reset .ds-service-list .ds-more-services {
  border: none;
  &:hover {
    background: none;
  }
}