html {
  font-family: sans-serif;
  font-size: 100%;
}

body {
  background-color: #FFF;
  color: #444;
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.body_container {
  padding: 0 60px;
  max-width: 1150px;
  margin: 0 auto;
  #layout {
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
}

.content_container {
  width: 75%;
  padding-right: 50px;
  padding-top: 20px;
}

#fb_comments_container {
  margin-top: 35px;
  padding-top: 20px;
  border-top: 1px solid rgba(150, 150, 150, 0.2);
}

a, button.submit {
  color: #6E7173;
  text-decoration: none;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

a:hover, a:active {
  color: #444;
  text-decoration: none !important;
}

a:focus {
  outline: auto;
}

.clear {
  clear: both;
}

#header {
  padding: 58px 0 0;
  text-align: left;
  border-bottom: 1px solid #ddd;
  position: relative;
  .site-name {
    margin-bottom: 40px;
    h1 {
      padding: 0;
      margin: 0;
      height: 0;
      overflow: hidden;
    }
    #logo {
      font: bold 38px/1.12 "Times New Roman", Georgia, Times, sans-serif;
      color: #555;
      span, &:hover {
        color: #777;
      }
    }
    .description {
      margin: .2em 0 0;
      color: #999;
    }
  }
  #nav-menu {
    margin: 10px 0 -1px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    a {
      display: inline-block;
      padding: 3px 20px 3px;
      line-height: 30px;
      color: #444;
      font-size: 13px;
      border: 1px solid transparent;
      &:hover {
        border-bottom-color: #444;
      }
      &.current {
        border: 1px solid #ddd;
        border-bottom-color: #fff;
      }
    }
  }
}

#sidebar {
  width: 25%;
  border-left: 1px solid #ddd;
  padding-left: 35px;
  margin-top: 40px;
  padding-bottom: 20px;
  word-wrap: break-word;
  .widget {
    margin-bottom: 30px;
    .widget-title {
      color: #6E7173;
      line-height: 2.7;
      margin-top: 0;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      display: block;
      font-weight: normal;
    }
    .comments-title {
      color: #6E7173;
      line-height: 2.7;
      margin-top: 0;
      font-size: 16px;
      border-bottom: 0 solid #ddd;
      display: block;
      font-weight: normal;
    }
    .tagcloud {
      margin-top: 10px;
      a {
        line-height: 1.5;
        padding: 5px;
      }
    }
    ul {
      list-style: none;
    }
    ul {
      padding: 0;
      li {
        margin: 5px 0;
        line-height: 1.5;
        a {
          text-decoration: none;
          border-bottom: 0.1em solid #bbb;
          color: #333;
          outline: 0;
        }
        .category-list-count, .archive-list-count, .tag-list-count {
          margin-left: 0.5em;
          font-size: 0.8em;
          color: #999;
        }
        .category-list-count:before, .archive-list-count:before, .tag-list-count:before {
          content: ' (';
        }
        .category-list-count:after, .archive-list-count:after, .tag-list-count:after {
          content: ') ';
        }
        ul.category-list-child {
          list-style: none;
          padding: 0 0 0 1em;
        }
      }
    }
    ul {
      li {
        a.archive-list-link, a.post-list-link, a.links-list-link {
          border-bottom: 0;
        }
      }
    }
  }
  .search-form {
    position: relative;
    overflow: hidden;
    input {
      background: #fff 8px 8px no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);
      display: inline-block;
      height: 16px;
      padding: 7px 11px 7px 28px;
      border: 1px solid rgba(0, 0, 0, 0.25);
      font-weight: 400;
      color: #444;
      font-size: 14px;
      line-height: 16px;
      box-sizing: content-box;
      background-clip: padding-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

/* title for search result or tagged posts*/
.label-title {
  margin-top: 1.1em;
  font-size: 20px;
  font-weight: normal;
  color: #888;
}

.post {
  padding: 25px 0 15px;
  .post-title {
    margin: 0;
    color: #555;
    text-align: left;
    font: bold 25px/1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
    a {
      color: #555;
    }
  }
  .post-meta {
    padding: 0;
    margin: 12px 0 0;
    color: #999;
    float: left;
    display: inline;
    text-indent: .15em;
  }
  .ds-thread-count {
    padding: 0;
    margin: 12px 0 0;
    color: #999;
    float: right;
    display: inline;
    text-indent: .15em;
  }
  .disqus-comment-count {
    padding: 0;
    margin: 12px 0 0;
    color: #999;
    float: right;
    display: inline;
    text-indent: .15em;
  }
  .post-content {
    clear: left;
    font-size: 15px;
    line-height: 1.77;
    color: #444;
    padding-top: 20px;
    text-align: justify;
    h2 {
      margin: 1.4em 0 1.1em;
      border-bottom: 1px solid #eee;
    }
    h3 {
      margin: 1.4em 0 1.1em;
    }
    pre code {
      padding: 0 2em;
    }
    p {
      margin: 0 0 1.234em;
      code {
        display: inline;
        margin: 0 5px;
        padding: 1px 5px;
        border: 1px solid #ccc;
        background: #eee;
      }
      a {
        color: #01579f;
        padding-bottom: 2px;
        word-break: break-all;
        &:hover {
          text-decoration: underline;
        }
      }
      .caption {
        color: #444;
        display: block;
        font-size: 0.9em;
        margin-top: 0.1em;
        position: relative;
        text-align: center;
      }
    }
    hr {
      margin: 2.4em auto;
      border: none;
      border-top: 1px solid #eee;
      position: relative;
    }
    img {
      max-width: 100%;
      padding: 0.5em 0;
      margin: auto;
      display: block;
    }
    ul, ol {
      border-radius: 3px;
      margin: 1em 0;
      ul {
        margin: 0;
      }
      a {
        color: #01579f;
        padding-bottom: 2px;
        word-break: break-all;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .tags {
    padding-bottom: 1em;
    a {
      margin-right: .5em;
      &:before {
        content: '#';
        display: inline-block;
      }
    }
  }
}

.page-navigator {
  border-top: 1px solid #ddd;
  list-style: none;
  margin-top: 25px;
  padding: 25px 0;
  font-size: 14px;
  a {
    display: inline-block;
    /*height: 25px;*/
    line-height: 25px;
    padding: 5px 20px;
    border: 1px solid #DDD;
    float: left;
    &.pre {
      float: left;
    }
    &.next {
      float: right;
    }
    &:hover {
      border-color: #999;
    }
  }
}

#footer {
  padding: .8em 0 3.6em;
  margin-top: 1em;
  line-height: 1.5;
  color: #999;
  span {
    font-size: .9em;
  }
}

/* for different pages starts*/
.post-archive {
  font-size: 15px;
  line-height: 2;
  padding-bottom: .8em;
  h2 {
    margin: 0;
    font: bold 25px / 1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif;
  }
  .date {
    padding-right: .7em;
  }
}

#categories {
  padding: 0;
  margin: 0;

  .category {
    margin: 10px 0 20px 0;
    text-align: center;
    a {
      text-align: left;
      display: inline-block;
      border: 1px solid #ddd;
      padding: 20px 40px;
      min-width: 100px;
      h3 {
        margin: 0;
      }
      &:hover {
        border-color: #888;
      }
    }
  }
}

/* for different pages ends*/

/*<middle*/
@media print, screen and (max-width: 48em) {
  .body_container {
    padding: 0 30px;
  }
  .content_container {
    padding-right: 15px;
  }
  #sidebar {
    display: none;
  }
  #header {
    .site-name {
      margin-bottom: 60px;
      text-align: center;
    }

    #nav-menu a {
      padding: 0 15px;
      line-height: 27px;
      height: 27px;
      font-size: 13px;
    }
  }
}

/*<small*/
@media print, screen and (max-width: 35.5em) {
  .body_container {
    padding: 0 20px;
  }
  .content_container {
    padding-right: 0;
  }
}

blockquote, .stressed {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2.5em 0;
  padding: 0 0 0 50px;
  color: #555;
  border-left: none;
}

blockquote:before, .stressed-quote:before {
  content: "\201C";
  display: block;
  font-family: times;
  font-style: normal;
  font-size: 48px;
  color: #444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -50px;
  position: absolute;
}

strong, b, em {
  font-weight: bold;
}

pre {
  margin: 2em 0;
}

.hidden1 {
  display: none;
}

/* read more*/
.readmore a {
  font-size: 13px;
  color: #999;
  margin-top: -10px;
  margin-bottom: -10px;
  padding: 2px 10px;
  border: 1px solid #999;
  border-radius: 7px;
  float: right;
  &:hover {
    color: #444;
    border-color: #444;
  }
}

//@import "highlight";

/* post navigator */
.post-nav {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: nowrap;
  border-top: 1px solid #eee;
  a {
    display: inline-block;
    line-height: 25px;
    font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 15px;
    color: #555;
    border-bottom: none;
    float: left;
    &.pre {
      float: left;
    }
    &.next {
      float: right;
    }
    &:hover {
      border-bottom: none;
      color: #222;
    }
  }
}

/* toc*/
.toc-article {
  border: 1px solid #bbb;
  background: #FBFBFB;
  border-radius: 7px;
  margin: 2em 0 0 2em;
  padding: 0.7em 0.7em 0 0.7em;
  max-width: 40%;
}

.toc-title {
  font-size: 120%;
}

#toc {
  line-height: 1em;
  float: right;
  .toc {
    padding: 0;
    margin: 0.5em;
    line-height: 1.8em;
    li {
      list-style-type: none;
    }
  }
  .toc-child {
    margin-left: 1em;
    padding-left: 0;
  }
}

/* table*/
table {
  margin: auto auto 1.234em;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th {
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 2px solid #909ba2;
  }
  td {
    padding: 5px 10px;
  }
  tr {
    &:nth-child(2n) {
      background: #f7f8f8;
    }
  }
}

/* icomoon icon fonts*/
@font-face {
  font-family: 'icomoon';
  src: url('icomoon/icomoon.eot');
  src: url('icomoon/icomoon.eot#iefix') format('embedded-opentype'),
  url('icomoon/icomoon.ttf') format('truetype'),
  url('icomoon/icomoon.woff') format('woff'),
  url('icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], i {
  font-family: 'icomoon', "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
  content: "\e658";
}

.icon-right-arrow:before {
  content: "\e659";
}

.icon-down-arrow:before {
  content: "\e65a";
}

.icon-up-arrow:before {
  content: "\e65b";
}

.icon-toggle:before {
  content: "\e65c";
}

.icon-search:before {
  content: "\e65d";
}

.icon-msg:before {
  content: "\e661";
}

.icon-close:before {
  content: "\e69e";
}

.icon-more:before {
  content: "\e6a0";
}

.icon-home:before {
  content: "\e900";
}

.icon-history:before {
  content: "\e901";
}

.icon-guestbook:before {
  content: "\e902";
}

.icon-about:before {
  content: "\e903";
}

.icon-archive:before {
  content: "\e904";
}

.icon-rss:before {
  content: "\e905";
}

.side-button-wrap {
  position: fixed;
  _position: fixed;
  bottom: 123px;
  _bottom: auto;
  width: 40px;
  height: 40px;
  right: 10px;
  .side-button {
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #9c9c9c;
    background: whitesmoke;
    border: 1px solid #d9d9d9;
    margin-top: 10px;
    float: left;
  }
  .side-button:hover {
    background-color: #999999;
    color: #fff;
    text-decoration: none;
  }
  #to-comment-button{
    display: none;
  }
}