/* time-line*/
.time-line {
  width: 400px;
}
.time-line .time-line-item {
  width: 100%;
}
.time-line .time-line-item .info, .time-line .time-line-item .year {
  color: #eee;
  display: block;
  float:left;
}
.time-line .time-line-item .year {
  font-size: 20px;
  width: 22%;
}
.time-line .time-line-item .info {
  width: 78%;
  margin-left: -2px;
  padding: 0 0 40px 35px;
  border-left: 4px solid #aaa;
  font-size: 14px;
  line-height: 20px;
}
.time-line .time-line-item .marker {
  background-color: #fff;
  border: 4px solid #aaa;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: block;
  float: right;
  margin-right: -14px;
  z-index: 2000;
  position: relative;
}
.time-line .time-line-item.active .info {
  color: #444;

}
.time-line .time-line-item.active .year {
  color: #555;
}
.time-line .time-line-item .marker .dot {
  background-color: white;
  display: block;
  border: 4px solid white;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  float: right;
  z-index: 2000;
  position: relative;
}
.time-line .time-line-item.active .marker .dot {
  background-color: #555;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}