<% if(page.archive) { %>
<% if(page.year) { %>
<% if(page.month) { %>
<% page.posts.each(function(post){ %>
<div class="post">
    <h2 class="post-title">
        <a href="<%- url_for(post.path) %>"><%- post.title || __('notitle') %></a>
    </h2>
    <div class="post-meta"><%- post.date.format(config.date_format) %></div>
    <% if(theme.duoshuo) { %>
    <span class="ds-thread-count" data-thread-key="<%- post.path %>"></span>
    <% } %>
    <% if(theme.disqus){ %>
    <span class="disqus-comment-count" data-disqus-identifie="<%- post.path %>"></span>
    <% } %>
    <% if(post.excerpt){ %>
    <div class="post-content"><%- post.excerpt %></div>
    <% } else if(post.description) { %>
    <div class="post-content"><%- post.description %></div>
    <% } else if(post.content) { %>
    <% var br = post.content.indexOf('\n'); %>
    <% if (br < 0) { %>
    <div class="post-content"><%- post.content %></div>
    <% } else { %>
    <div class="post-content"><%- post.content.substring(0, br) %></div>
    <% } %>
    <% } %>
    <p class="readmore">
        <a href="<%- url_for(post.path) %>"><%- __('Readmore') %></a>
    </p>
</div>
<% }) %>
<%- partial('_partial/pagination') %>
<% } else { %>
<div class="post">
    <div class="post-archive">
        <% var result = _.groupBy(site.posts.toArray(), function (p) {
            return -p.date.format('YYYY');// the '-' before p is minus sign to reverse the list
        }); %>
        <% for(var year in result) { %>
        <% if(-year == page.year) { %>
        <h2><a href="/archives/<%- -year %>" style="color: black"><%- -year %></a></h2>
        <ul class="listing">
            <% for(var i in result[year]){ var post = result[year][i]; %>
            <li>
                <span class="date"><%- post.date.format(config.date_format) %></span>
                <a href="<%- url_for(post.path) %>" title="<%- post.title %>"><%- post.title %></a>
            </li>
            <% } %>
        </ul>
        <% } %>
        <% } %>
    </div>
</div>
<% } %>
<% } else { %>
<div class="post">
    <div class="post-archive">
        <% var result = _.groupBy(site.posts.toArray(), function (p) {
            return -p.date.format('YYYY');// the '-' before p is minus sign to reverse the list
        }); %>
        <% for(var year in result) { %>
        <h2><a href="/archives/<%- -year %>" style="color: black"><%- -year %></a></h2>
        <ul class="listing">
            <% for(var i in result[year]){ var post = result[year][i]; %>
            <li>
                <span class="date"><%- post.date.format(config.date_format) %></span>
                <a href="<%- url_for(post.path) %>" title="<%- post.title %>"><%- post.title %></a>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
<% } %>
<% } %>