<!DOCTYPE html>
<html lang='<%= config.language %>'>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<div class="body_container">
    <div id="header">
        <div class="site-name">
            <% var title = config.title || config.subtitle || ''; %>
            <h1 class="hidden"><%= title %></h1>
            <a id="logo" href="<%- url_for('.') %>"><%= title %></a>
            <% if(config.subtitle) { %>
            <p class="description"><%= config.subtitle %></p>
            <% } %>
        </div>
        <div id="nav-menu">
            <% theme.menu.forEach(function (m) {
                var href = m.directory;
                var page = m.page;
                var icon = m.icon;
            if((href == '.' && (is_home() || is_post())) || is_current(href)) {
            %>
            <a href="<%- url_for(href) %>" class="current"><i class="<%= icon %>"> <%= __(page) %></i></a>
            <% } else { %>
            <a href="<%- url_for(href) %>"><i class="<%= icon %>"> <%= __(page) %></i></a>
            <% }}); %>
        </div>
    </div>
    <div id="layout">
        <div class="content_container">
            <%- body %>
        </div>
        <div id="sidebar">
            <% for (var i in theme.widgets) { %>
            <%- partial('_widget/' + theme.widgets[i] + '.ejs') %>
            <% } %>
        </div>
    </div>
    <div class="side-button-wrap">
        <a id="to-top" class="side-button icon-up-arrow" href="#top"></a>
        <a id="to-home" class="side-button icon-home" href="<%- url_for('.') %>"></a>
        <a id="to-comment-button" class="side-button icon-msg" href="#comment"></a>
        <a id="to-bottom-button" class="side-button icon-down-arrow" href="#bottom"></a>
    </div>
    <%- partial('_partial/footer') %>
</div>
<%- partial('_partial/after_footer') %>
<a id="bottom" name="bottom"></a>
</body>
</html>