<!DOCTYPE html>
<html lang='<%= config.language %>'>
<head>
    <%- partial('_partial/head') %>
</head>
<body youdao="bind">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <% var title = config.title || config.subtitle || ''; %>
            <a class="navbar-brand" href="<%- url_for('.') %>"><%= title %></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <% theme.menu.forEach(function (m) {
                        var href = m.directory;
                        var page = m.page;
                        var icon = m.icon;
                    if((href == '.' && (is_home() || is_post())) || is_current(href)) {
                    %>
                    <a href="<%- url_for(href) %>" class="current"><i class="<%= icon %>"> <%= __(page) %></i></a>
                    <% } else { %>
                    <a href="<%- url_for(href) %>"><i class="<%= icon %>"> <%= __(page) %></i></a>
                    <% }}); %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="content">
        <div class="container container-center">
            <div class="row">
                <div class="col-md-8">
                    <%- body %>
                </div>
                <div id="sidebar" class="col-md-4 hidden-xs" style="border-left: 1px solid #ddd;">
                    <% for (var i in theme.widgets) { %>
                    <%- partial('_widget/' + theme.widgets[i] + '.ejs') %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- partial('_partial/totop') %>
    <%- partial('_partial/footer') %>
</div>
<%- partial('_partial/after_footer') %>
</body>
</html>