<div class="post">
    <h1 class="post-title"><%- page.title %></h1>
    <div class="post-content"><%- page.content %></div>
    <%- partial('_partial/post_nav')%>
    <%- partial('_partial/share')%>
    <% if(page.comments){ %>
    <%- partial('_partial/comments') %>
    <% } %>
</div>