<div class="post">
    <div class="post-page">
        <h1 class="post-title"><%- page.title %></h1>
        <div class="post-meta"><%- page.date.format(config.date_format) %><% if(page.categories.length > 0) { %><span class="categories"> | <%= __('categories') %>:<% page.categories.each(function(category){ %><a href="<%- url_for(category.path) %>"> <%- category.name %></a><% }) %></span><% } %>
        </div>
        <% if(theme.duoshuo) { %>
        <a href="#comment"><span class="ds-thread-count" data-thread-key="<%- page.path %>"></span></a>
        <% } %>
        <% if(theme.disqus){ %>
        <a href="#comment"><span class="disqus-comment-count" data-disqus-identifie="<%- page.path %>"></span></a>
        <% } %>
        <% if(page.toc){ %>
        <div class="clear">
            <div id="toc" class="toc-article">
                <div class="toc-title"><%- __('contents') %></div>
                <%- toc(page.content) %>
            </div>
        </div>
        <% } %>
        <div class="post-content"><%- page.content %></div>
        <% if(page.tags){ %>
            <div class="tags">
                <% page.tags.each(function(tag){%>
                <a href="<%- url_for(tag.path)%>"><%- tag.name%></a>
                <%})%>
            </div>
        <% } %>
        <%- partial('_partial/post_nav')%>
        <%- partial('_partial/share')%>
        <%- partial('_partial/comments')%>
    </div>
</div>