<% if(page.tag) { %>
<h1 class="label-title"><%= __('reading_label', '[' + page.tag + "]")%></h1>
<div class="post">
    <div class="post-archive">
        <ul class="listing">
            <% page.posts.each(function(post){ %>
            <li>
                <span class="date"><%- post.date.format(config.date_format) %></span>
                <a href="<%- url_for(post.path) %>" title="<%- post.title %>"><%- post.title %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<%- partial('_partial/pagination') %>
<% } %>