<%- js('//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')%>
<%- js('//cdn.bootcss.com/highlight.js/9.1.0/highlight.min.js')%>
<script>
    hljs.initHighlightingOnLoad();
//    $(window).scroll(function () {
//        $(window).scrollTop() > 100 ? $("#to-top").show() : $("#to-top").hide();
//        $(document).scrollTop() >= $(document).height() - $(window).height() ? $("#to-bottom-button").hide() : $("#to-bottom-button").show();
//    });
    $(function(){
        $('pre code').each(function(){
            var lines = $(this).text().split('\n').length - 1;
            var $numbering = $('<ul/>').addClass('pre-numbering');
            $(this).addClass('has-numbering')
                    .parent()
                    .append($numbering);
            for(i=1;i<=lines;i++){
                $numbering.append($('<li/>').text(i));
            }
        });
    });
</script>
<% if(theme.fancybox) {%>
<script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.js"></script>
<link href="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet">
<% } %>
<% if(is_post() && (theme.duoshuo || theme.disqus)) {%>
<script>
    $("#to-comment-button").show();
</script>
<% } %>
<% if(theme.duoshuo) { %>
<script>
    var duoshuoQuery = {short_name:'<%= theme.duoshuo %>'};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//dn-comment.qbox.me/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<% } %>
<% if (theme.google_analytics){ %>
<script>
    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%- theme.google_analytics %>', 'auto');
    ga('send', 'pageview');
</script>
<% } %>
<% if (theme.baidu_analytics){ %>
<script>
    // baidu analytics
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?<%- theme.baidu_analytics %>";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<% } %>