<% if(theme.duoshuo){ %>
<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>" data-author-key='1'><h6 id="comment" style="margin-top: -2.4em;"></h6></div>
<% } %>
<% if(theme.disqus){ %>
<div class="disqus_thread"><h6 id="comment" style="margin-top: -2.4em;"></h6>
    <script>
        var disqus_shortname = '<%= theme.disqus%>';
        var disqus_identifier = '<%- page.path%>';
        var disqus_title = '<%- page.title%>';
        var disqus_url = '<%- url_for(page.path)%>';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <script id="dsq-count-scr" src="//<%= theme.disqus%>.disqus.com/count.js" async="async"></script>
</div>
<% } %>