<div id="footer">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    Powered by
    <a rel="nofollow" target="_blank" href="https://hexo.io"> Hexo.</a>
    <a rel="nofollow" target="_blank" href="https://github.com/conansix/hexo-theme-lines"> Theme</a>
    by
    <a rel="nofollow" target="_blank" href="https://github.com/conansix"> Howard Liu.</a>
</div>