<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- partial('_partial/seo') %>
<% if (theme.favicon){ %>
<link rel="shortcut icon" href="<%- theme.favicon %>" type="image/x-icon"/>
<link rel="icon" href="<%- theme.favicon %>">
<% } %>
<% if(theme.apple_touch_icon){ %>
<link rel="apple-touch-icon" href="<%- theme.apple_touch_icon %>">
<link rel="apple-touch-icon-precomposed" href="<%- theme.apple_touch_icon %>">
<% } %>
<%- css('css/style') %>
<% if (theme.duoshuo){ %>
<%- css('css/duoshuo') %>
<% } %>
<%- css('//cdn.bootcss.com/highlight.js/9.1.0/styles/color-brewer.min.css') %>
<%- css('css/syntax-highlight-line-num')%>
