<% if(page.next || page.prev){ %>
<div class="post-nav">
    <% if(page.prev){ %>
    <a class="pre" href="<%- url_for(page.prev_link || page.prev.path) %>">
        <i class="icon-previous"><%- page.prev.title %></i>
    </a>
    <% } %>
    <% if(page.next){ %>
    <a class="next" href="<%- url_for(page.next_link || page.next.path) %>">
        <i class="icon-next"><%if(page.next.title){%><%- page.next.title %><%} else {%><%- __('notitle')%><%}%></i>
    </a>
    <% } %>
</div>
<% } %>