<% if(theme.duoshuo){ %>
<div class="ds-share flat" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>">
    <div class="ds-share-inline">
        <ul class="ds-share-icons-16">
            <li data-toggle='ds-share-icons-more'><a class="ds-more" href='javascript:void(0);'>分享到：</a></li>
            <li><a class="ds-weibo" href='javascript:void(0);' data-service='weibo'> 微博</a></li>
            <li><a class="ds-qzone" href='javascript:void(0);' data-service='qzone'> QQ空间</a></li>
            <li><a class="ds-qqt" href='javascript:void(0);' data-service='qqt'> 腾讯微博</a></li>
            <li><a class="ds-wechat" href='javascript:void(0);' data-service='wechat'> 微信</a></li>
        </ul>
        <div class="ds-share-icons-more"></div>
    </div>
</div>
<% } %>