<%- js('//cdn.bootcss.com/jquery/2.1.4/jquery.min.js') %>
<%- js('//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js') %>
<%- js('//cdn.bootcss.com/highlight.js/9.1.0/highlight.min.js') %>
<script>hljs.initHighlightingOnLoad();</script>
<%- js('js/header.js') %>
<%- js('js/toc.js') %>
<!--[if lt IE 9]>
<%- js('//cdn.bootcss.com/respond.js/1.4.2/respond.min.js') %>
![endif]-->
<!--fancybox-->
<% if(theme.fancybox) { %>
<script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<link href="//cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        $("img").each(function (index, item) {
            var p = $(item).parents()[0];
            if($(p).is('a')) {
                $(p).fancybox();
                return;
            }
            $(p).append(function() {return "<a id='fancybox_id_"+index+"' href='" + $(item).attr("src") + "'></a>";});
            item.remove();
            var fancyboxItem = $("#fancybox_id_" + index);
            fancyboxItem.append($(item));
            fancyboxItem.fancybox();
        });
    });
</script>
<% } %>
<!--baidu auto-push-->
<% if (theme.baidu_analytics){ %>
<script>
    // baidu analytics
    (function () {
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<% } %>
<!--google analytics-->
<% if (theme.google_analytics){ %>
<script>
    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%- theme.google_analytics %>', 'auto');
    ga('send', 'pageview');
</script>
<% } %>
